<div class="news-content">
  <div class="news-wrap">
    <div class="news-title">
      <h2>Tin tức</h2></div>
    <div class="news-list" style="width: 1044px; margin-left: 116px;">
      <div class="news-row">
        <div class="link-page" style="height: 186px;">
          <div class="pic"><img src="../../../../../../assets/img/new1.jpg" alt="Trailer mới của Ant-Man and the Wasp đây rồi!!"></div>
          <div class="txt">
            <h3>Trailer mới của Ant-Man and the Wasp đây rồi!!</h3>
            <p>Ant-Man and the Wasp vừa tung ra một tấm poster mới cho bộ phim hôm trước, thì hôm sau đã tung đoạn trailer tiếp theo. Ở thời điểm hiện tại, tất cả mọi ánh mắt hiển nhiên đều đang đổ dồn lên Avengers: Infinity War, nhưng các fan cũng đừng quên chỉ còn vài tháng nữa thôi, bộ phim tiếp theo thuộc MCU sẽ được công chiếu</p>
          </div>
        </div>
        <div class="link-page" style="height: 186px;">
          <div class="pic"><img src="../../../../../../assets/img/new2.jpg" alt="Ê - kíp &quot;Lật Mặt: Ba Chàng Khuyết&quot; &quot;chơi lớn&quot; dựng núi giả cao 10m để làm đại cảnh lũ cuốn cực hoành tráng"></div>
          <div class="txt">
            <h3>Ê - kíp "Lật Mặt: Ba Chàng Khuyết" "chơi lớn" dựng núi giả cao 10m để làm đại cảnh lũ cuốn cực hoành tráng</h3>
            <p>Ra mắt khán giả vào dịp cuối tháng tư, Lật Mặt: Ba Chàng Khuyết được coi là dự án điện ảnh mở màn cho mùa phim bom tấn hè 2018. Theo dõi bộ phim, khán giả không khỏi xuýt xoa khi chứng kiến phân cảnh cả một ngọn núi khổng lồ bị mưa lũ cuốn bay và sạt lở chỉ trong gang tấc. Tuy nhiên, câu chuyện hậu trường đằng sau cảnh quay này còn ẩn chứa rất nhiều điểm thú vị, hứa hẹn khiến nhiều người đọc phải bất ngờ.</p>
          </div>
        </div>
      </div>
      <div class="news-row">
        <div class="link-page" style="height: 186px;">
          <div class="pic"><img src="../../../../../../assets/img/new3.jpg" alt="Huy Khánh, Kiều Minh Tuấn, Song Luân lên bờ xuống ruộng trong &quot;Lật Mặt 3&quot;"></div>
          <div class="txt">
            <h3>Huy Khánh, Kiều Minh Tuấn, Song Luân lên bờ xuống ruộng trong "Lật Mặt 3"</h3>
            <p>Lật Mặt 3 có kinh phí đầu tư 17 tỉ đồng, dự kiến khởi chiếu vào mùa hè năm nay, ngày 20/4/2018.</p>
          </div>
        </div>
        <div class="link-page" style="height: 186px;">
          <div class="pic"><img src="../../../../../../assets/img/new3.jpg" alt="MANG HƯƠNG VỊ NGỌT NGÀO VÀO RẠP PHIM."></div>
          <div class="txt">
            <h3>MANG HƯƠNG VỊ NGỌT NGÀO VÀO RẠP PHIM.</h3>
            <p>Lần đầu tiên tại Cinestar Cinema đem hương vị trà sữa vào Rạp Phim. Trà sữa là một loại thức uống được giới trẻ yêu thích. Vị ngon, ngọt của sữa quyện lẫn vị đăng đắng của trà, dai dai của hạt trân châu rất đặc trưng sẽ đem đến cho bạn những phút giây thư giãn cùng những thước phim kinh điển.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
