<div class="bottom">
  <div class="bottom-nav">
    <div class="logo-footer" style="background-image:url(../../../../../assets/img/logo.png);"></div>
    <div class="bottom-wrap">
      <div class="cinestart-price">
        <h2>Hệ thống rạp</h2>
        <ul>
          <li><a >CGV Cinemas</a></li>
          <li><a >Galaxy Cinema</a></li>
          <li><a >Lotte Cinema</a></li>
        </ul>
      </div>
      <div class="cinestart">
        <h2>CYBERFILM</h2>
        <ul>
          <li data-name="212_2"><a>Phim đang chiếu</a></li>
          <li data-name="212_1"><a>Phim sắp chiếu</a></li>
          <li data-name="212_3"><a>Suất chiếu đặc biệt</a></li>
          <li data-name="213"><a>Lịch chiếu</a></li>
          <li data-name="211"><a>Khuyến mãi</a></li>
        </ul>
      </div>
      <div class="info">
        <h2>Thông tin</h2>
        <ul>
          <li data-name="207"><a>Giới thiệu</a></li>
          <li data-name="209"><a >Tin tức</a></li>
          <li data-name="210"><a >Hỏi và đáp</a></li>
          <li data-name="118"><a>Liên hệ</a></li>
        </ul>
      </div>
      <div class="social">
        <h2>Liên kết</h2>
        <ul>
          <li><a href="https://www.facebook.com/huy.nguyenleegia" target="_blank" class="facebook">Facebook</a></li>
          <li><a target="_blank" class="youtube">Youtube</a></li>
        </ul>
        <h2>Hotline</h2>
        <a class="hotline-tel" href="tel:028 7300 8881">0933903874</a>
      </div>
    </div>
  </div>
  <div class="bottom-nav-icon">
    <ul>
      <li><a data-name="1"><img src="../../../../../assets/img/dolby.png" align="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ"></a></li>
      <li><a data-name="2"><img src="../../../../../assets/img/christie.png" align="Máy chiếu CHRISTIE"></a></li>
      <li><a data-name="3"><img src="../../../../../assets/img/2d.png" align="Công nghệ chiếu phim 2D Digital"></a></li>
      <li><a data-name="4"><img src="../../../../../assets/img/3d3.png" align="Công nghệ chiếu phim 3D Digital"></a></li>
    </ul>
  </div>
</div>
