<div class="promotion-content">
  <div class="promotion-wrap">
    <div class="promotion-title">
      <h2>Ưu đãi</h2>
    </div>
    <div class="promotion-slide slide-slidebox" style="width: 1044px; margin-left: 116px; opacity: 1; display: inline-block;margin-top: -100px" >
      <div class="slide-wrapper-outer">
        <div class="slide-wrapper" style="width: 5568px; left: 0px; display: block; margin-left: 0px; transition: all 800ms ease 0s; transform: translate3d(0px, 0px, 0px);" #slide>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="ĐẦU THÁNG THẬT VUI, BẮP VÉ THẬT ĐÃ" src="../../../../../../assets/img/banner01.jpg" style="display: block;"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="Trà Sữa C'Tea" src="../../../../../../assets/img/banner02.jpg" style="display: block;"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" src="../../../../../../assets/img/banner03.jpg" style="display: block;"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="C'Ten - Khuyến mãi tại mốc 10H" style="display: block;" src="../../../../../../assets/img/banner04.jpg"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="C'MONDAY - Cinestar Happy Day" style="display: block;" src="../../../../../../assets/img/banner05.jpg"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="C'TUESDAY - Combo Thả ga" style="display: block;" src="../../../../../../assets/img/banner06.jpg"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="C'member - ngày hội thành viên" style="display: block;" src="../../../../../../assets/img/banner07.jpg"></div>
              </a>
            </div>
          </div>
          <div class="slide-item" style="width: 348px;">
            <div class="promotion-item">
              <a>
                <div class="promotion-pic"><img class="lazyload" align="C'refill - lấy thêm thỏa thích" style="display: block;" src="../../../../../../assets/img/banner08.jpg"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-controls clickable">
        <div class="slide-pagination" >
          <div 	class="slide-page"
          		(click)="activeDot(1)" 
           		><span class="1"
           		 [ngStyle]="{ 'background' : dotActive == 1 ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.6)' }"></span></div>
          <div 	class="slide-page"
          		(click)="activeDot(2)"
          ><span class="2"
          		 [ngStyle]="{ 'background' : dotActive == 2 ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.6)' }"
          ></span></div>
          <div 	class="slide-page"
          		(click)="activeDot(3)"
          ><span class="3"
          		[ngStyle]="{ 'background' : dotActive == 3 ? 'rgba(255, 255, 255, 1)' : 'rgba(255, 255, 255, 0.6)' }"
          ></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
