<div class="nav-icon-content">
  <div class="nav-icon-wrap">
    <ul>
      <li>
      	<a href="javscript:void(0);" class="iconShow">
      	<img src="../../../../../../assets/img/dolby.png" alt="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ">
      </a>
      </li>
      <li>
      	<a href="javscript:void(0);" class="iconShow" >
      		<img src="../../../../../../assets/img/christie.png" alt="Máy chiếu CHRISTIE">
      	</a>
      </li>
      <li>
      	<a href="javscript:void(0);" class="iconShow">
      		<img src="../../../../../../assets/img/2d.png" alt="Công nghệ chiếu phim 2D Digital">
      	</a>
      </li>
      <li>
      	<a href="javscript:void(0);" class="iconShow">
      		<img src="../../../../../../assets/img/3d3.png" alt="Công nghệ chiếu phim 3D Digital">
      	</a>
      </li>
    </ul>
  </div>
</div>

<div class="overlay-dark" [ngStyle]="{'display': background ? 'block' : 'none' }" (click)="close(dolby,christie,show2d,show3d)"></div>

<!-- DOBLY -->
<div 	class="term-pop" 
		style="height: 602px; margin-top: -301px;"  
		[ngStyle]="{'display': dolby ? 'block' : 'none' }">
  <a class="close-popup" ></a>
  <div class="scrollB" tabindex="0" style="overflow: hidden; outline: none;">
    <div class="term-bg">
      <h2>DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ</h2>
      <p style="box-sizing: border-box; margin: 15px 0px 5px; padding: 0px; color: rgb(99, 99, 99); font-family: Verdana, Arial, sans-serif; line-height: 21px; background-color: rgb(253, 252, 240);">Dolby Atmos – sự phát triển đáng kể nhất trong công nghệ âm thanh kể từ âm thanh vòm, đang tạo ra sự thay đổi độc đáo trong kĩ thuật thiết kế âm thanh phân lớp, hiện đã có mặt tại Việt Nam và sẵn sàng phục vụ khách hàng tại CineStar Cinema</p>
      <p style="box-sizing: border-box; margin: 15px 0px 5px; padding: 0px; color: rgb(99, 99, 99); font-family: Verdana, Arial, sans-serif; line-height: 21px; background-color: rgb(253, 252, 240);">Dolby Atmos sử dụng thiết kế phân lớp tân tiến để tạo nên các rãnh âm thanh. Lớp nền bao gồm các dải âm thanh môi trường tĩnh được phối theo phương pháp âm thanh phân luồng quen thuộc. Các lớp trên trần bao gồm các yếu tố âm thanh động được định hướng và thay đổi một cách chính xác theo hình ảnh hiển thị trên màn hình trong rạp. Bằng cách lắp đặt hệ thống loa ở trên đầu và xung quanh, Dolby Atmos có thể khiến khán giả trải nghiệm những âm thanh trung thực và tự nhiên như thật của bộ phim.</p>
      <p style="box-sizing: border-box; margin: 15px 0px 5px; padding: 0px; color: rgb(99, 99, 99); font-family: Verdana, Arial, sans-serif; line-height: 21px; background-color: rgb(253, 252, 240);"><span style="font-size:20px;">TẠI SAO&nbsp;DOLBY ATMOS CÓ THỂ TẠO NÊN SỰ KHÁC BIỆT KHI TRẢI NGHIỆM ĐIỆN ẢNH</span></p>
      <p style="box-sizing: border-box; margin: 15px 0px 5px; padding: 0px; color: rgb(99, 99, 99); font-family: Verdana, Arial, sans-serif; line-height: 21px; background-color: rgb(253, 252, 240);"><span style="font-style: italic; font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; line-height: 1.6em; background-color: rgb(255, 255, 255);">- Âm thanh rõ ràng và được định hướng một cách chính xác hơn; Sự trộn âm có định hướng đối tượng từ các yếu tố âm thanh theo lớp độc lập đến âm thanh phân luồng.</span></p>
      <p style="box-sizing: border-box; margin: 15px 0px 5px; padding: 0px; color: rgb(99, 99, 99); font-family: Verdana, Arial, sans-serif; line-height: 21px; background-color: rgb(253, 252, 240);"><span style="font-style: italic; font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; line-height: 1.6em; background-color: rgb(255, 255, 255);">- Kết nối ý đồ của đạo diễn từ dữ liệu mô tả và phát lại theo công nghệ âm thanh được trang bị cho từng phòng chiếu.</span></p>
      <p style="box-sizing: border-box; margin: 0px; padding: 10px 0px; list-style: disc; font-style: italic; color: rgb(51, 51, 51);">- Tự động tạo ra các rãnh âm thanh tối ưu cho các phòng chiếu 5.1 và 7.1</p>
      <p style="box-sizing: border-box; margin: 0px; padding: 10px 0px; list-style: disc; font-style: italic; color: rgb(51, 51, 51);">- Tạo ra trải nghiệm âm thanh sống động, trung thực thông qua 128 yếu tố âm thanh đồng thời và không bị mất đi khi phối âm.</p>
      <p style="box-sizing: border-box; margin: 0px; padding: 10px 0px; list-style: disc; font-style: italic; color: rgb(51, 51, 51);"><span style="line-height: 1.6em;">- Quy mô được điều chỉnh theo kích cỡ của từng phòng chiếu với hệ thống lên đến 64 loa độc lập với nhau.</span></p>
      <p>Trên thế giới hiện tại chỉ có 25 rạp trang bị hệ thống Dolby Atmos, và CineStar rất hân hạnh là một thành viên trong số đó.</p>
    </div>
  </div>
  <div class="nicescroll-rails" style="width: 10px; z-index: 2000; background: rgba(255, 255, 255, 0); cursor: default; position: absolute; top: 20px; left: 970px; height: 185px; opacity: 1;">
  </div>
</div>

<!-- CHRISTIE -->
<div 	class="term-pop" 
		style="height: 602px; margin-top: -301px;" 
		[ngStyle]="{'display': christie ? 'block' : 'none' }">
  <a class="close-popup" href="javascript:void(0);"></a>
  <div class="scrollB" tabindex="1" style="width: 960px; height: 562px; overflow: hidden; outline: none;">
    <div class="term-bg">
      <h2>Máy chiếu CHRISTIE</h2>
      <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Máy chiếu Christie là giải pháp hình ảnh cao cấp cho nhu cầu giải trí, với&nbsp;độ phân giải 1080p -&nbsp;4k. ( có số điểm ảnh bề ngang cao gấp 4 lần so với chuẩn full HD).&nbsp;</span></span><span style="font-family: arial, helvetica, sans-serif; font-size: 16px; line-height: 1.6em;">Ngoài ra máy còn mang đến cho khán giả những trải nghiệm hình ảnh chân thật hơn nhờ hệ thống thấu kính của mình.</span></p>
      <h2 style="box-sizing: border-box; margin: 20px 0px; padding: 0px; font-size: 24px; font-family: Verdana, Arial, sans-serif; line-height: 1.2; text-rendering: optimizeLegibility; background-color: rgb(253, 252, 240);"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="line-height: 20.5333px; background-color: rgb(252, 252, 255);">Với hệ thống máy chiếu Christie đã được trang bị, CineStar Cinema hy vọng sẽ mang lại những trải nghiệm điện ảnh đích thực dành cho khán giả.</span></span></span></h2>
    </div>
  </div>
  <div class="nicescroll-rails" style="width: 10px; z-index: 2000; background: rgba(255, 255, 255, 0); cursor: default; position: absolute; top: 20px; left: 970px; height: 562px; display: none; opacity: 1;">
  </div>
</div>

<!-- 2D -->
<div 	class="term-pop" 
		style="height: 602px; margin-top: -301px; display: none;" 
		[ngStyle]="{'display': show2d ? 'block' : 'none' }">
  <a class="close-popup" href="javascript:void(0);"></a>
  <div class="scrollB" style="width: 960px; height: 562px; overflow: hidden; outline: none;">
    <div class="term-bg">
      <h2>Công nghệ chiếu phim 2D Digital</h2>
      <p><span style="line-height: 1.6em;">Công nghệ chiếu phim 2D Digital là công nghệ chiếu phim kỹ thuật số 2 chiều, mang tới hình ảnh rõ nét cho khán giả yêu điện ảnh. Khán giả&nbsp;</span><span style="line-height: 1.6em;">sẽ k</span><span style="line-height: 1.6em;">hông phải mang kính khi xem phim 2D Digital.</span></p>
      <p>S<span style="line-height: 1.6em;">o với c</span><span style="line-height: 1.6em;">ông nghệ chiếu phim 35mm sử dụng bản phim nhựa, thì định dạng 2D Digital sẽ giải quyết trọn vẹn vấn đề xước bản phim gây khó ch</span><span style="line-height: 1.6em;">ịu cho khán giả, mang lại hình ảnh sắc nét hơn.</span></p>
      <p>Hiện tại, tất cả phòng chiếu của CineStar đều trang bị công nghệ chiếu phim 2D Digital.</p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div  class="nicescroll-rails" style="width: 10px; z-index: 2000; background: rgba(255, 255, 255, 0); cursor: default; position: absolute; top: 0px; left: 950px; height: 562px; display: none;">
  </div>
</div>

<!-- 3D -->
<div class="term-pop" 
style="height: 602px; margin-top: -301px; display: block;"
[ngStyle]="{'display': show3d ? 'block' : 'none' }">
  <a class="close-popup" href="javascript:void(0);"></a>
  <div class="scrollB" style="width: 960px; height: 562px; overflow: hidden; outline: none;">
    <div class="term-bg">
      <h2>Công nghệ chiếu phim 3D Digital</h2>
      <div>
        <p>So với công nghệ chiếu phim 2D Digital (Kỹ thuật số 2 chiều), công nghệ 3D Digital (Kỹ thuật số 3 chiều) cho phép khán giả cảm nhận thêm chiều sâu của hình ảnh, giúp cho không gian điện ảnh trở nên sống động như không gian thực mà chúng ta đang sống.</p>
        <p>Phim 3D được quay từ tối thiểu hai máy cùng một lúc, từ hai góc nhìn khác nhau tương ứng với hoạt động của hai mắt người. Khi xem phim khán giả sẽ cần đeo kính 3D để lọc hình ảnh cho mỗi mắt, khi qua não bộ sẽ chập lại tạo thành hình ảnh không gian ba chiều.</p>
        <p>Các phòng chiếu phim 3D Digital này đều sử dụng màn hình tráng bạc để giảm thiểu lượng hao hụt ánh sáng một cách tối đa.</p>
        <p><img alt="" src="../../../../../../assets/img/3d2.jpg" style="width: 599px; height: 426px;"></p>
      </div>
    </div>
  </div>
  <div class="nicescroll-rails" style="width: 10px; z-index: 2000; background: rgba(255, 255, 255, 0); cursor: default; position: absolute; top: 20px; left: 970px; height: 562px; display: block; opacity: 1;">
  </div>
</div>
